#game{
    background: purple;
    justify-content: center;
    align-items: center;
    position: relative;
}

#canvas{
    position:absolute;
    height: 100%;
    width: 100%;
}

#canvasBackground{
    position:absolute;
    height: 100%;
    width: 100%;
}
