#score{
    border: thick solid black;
    height: 50px;
    width: 20%;
    min-width: 150px;
    border-radius: 25px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
