#startPage{
    background-color: green;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url("../img/sky.png") center no-repeat;
    background-size: cover;
}
